header{
    background-color: blue;
    color: white;
    text-align: center;
}

.citybutton{    
    width: 90%;
    height: auto;
    display: block;
    margin: 10px;
}

.weather{
   
    display: flex;
    

}

.btn{
    background-color: rgb(139, 139, 227);
    width: 90%;
    margin-top: 10px;
    
}

.container{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    justify-self: start;
}

.weather-forecast{ 
    padding-top: 0px;
    border: 0px;
    bottom: 0;
    display: flex;
    color:white;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
}

p{
    font: 30px;
    font-weight: bold;
}

.weather-forecast .weather-forecast-item{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin: 0 10px;
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(31, 31, 90);
}


.day{
    color: #000;
    
}

.row{
    display: inline;
}